[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pyyaml = "*"
sqlalchemy_utils = "*"
sqlalchemy-utils = "*"

[dev-packages]

[requires]
python_version = "3.7"
